.products-component {
    max-width: 1300px;
    margin: 0 auto;

    .card {
        transition: box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-top: 1rem;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }

        .image {
            width: 90%;
            margin: 0 auto;
        }

        img {
            height: 250px;
            object-fit: contain;
        }
    }

    .card-body {
        .card-title {
            font-size: 1.25rem;
        }

        .card-text {
            &:last-child {
                color: #333;
            }
        }
    }
}