/* styles/_typography.scss */

/* H1 */
H1 {
    font-size: var(--fs-700);
    color: var(--gray-color-1);
  }
  
  /* H2 */
  H2 {
    font-size: var(--fs-600);
    color: var(--gray-color-1);
  }
  
  /* H3 */
  H3 {
    font-size: var(--fs-500);
    color: var(--blue-color-4);
  }
  
  /* H4 */
  H4 {
    font-size: var(--fs-500);
    color: var(--blue-color-4);
  }
  
  /* P */
  P {
    font-size: var(--fs-500);
    color: var(--gray-color-1);
  }
  